

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow:wght@700&family=Croissant+One&family=Dancing+Script:wght@500;600;700&family=Fuggles&family=Kaisei+HarunoUmi:wght@700&family=Kaushan+Script&family=Lobster&family=Maven+Pro:wght@500&family=Montserrat:wght@100&family=Mooli&family=Mulish:wght@300;600;700&family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&family=Shadows+Into+Light&family=Zeyada&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.font1{
    font-family:'Kaisei HarunoUmi', serif;
    
    font-style: bold;
}
.font2{
    font-family: 'Mulish', sans-serif;
   
}
.font3{
    font-family: sans-serif;
     font-size: 15px; 

}
.lightgrey{
    background-color:#f0f2f5;
}
.cust-lav{
    background-color:#deccff;
}
.purple{
    color: #6d1d8e;
}
.grey{
    color: #515151;
}
#logoimg{
width: 300px;
}

@media (max-width:500px){
 #logoimg{
width: 200px;
}
}

#whatsapp{
    border-radius: 50%;
    width: 55px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}
#homearrow{
    position: fixed;
    right: 7px;
    bottom:70px;
    font-size:50px;
    z-index: 100;
    }
#chat{
    position :fixed;
    right: 10px;
    bottom: 10px;
    font-size: 45px;   
    z-index: 100;

}

.navbar-toggler{
    color: #6d1d8e;   
    font-size: xx-large;
    background-color: #6d1d8e;

}
/* .navbar-toggler-icon {
    color: #460B5e;
    background-color: red;
} */
 nav ul li a{     
    font-size: 18px;
     margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 1s;
}

.navbar-nav .nav-item .nav-link{
    color: inherit;
}
.navbar-nav .nav-item .nav-link.active{
    color: #6d1d8e;
    border-bottom: 2px solid #6d1d8e;
}
#list li a:hover{
    color: #6d1d8e;
    border-bottom: 2px solid #6d1d8e;
} 

#courses button{
    background-color: #6d1d8e;
    border-radius: 20px;     
    }
    
/* search */


#searchdiv:focus,#searcharea:focus{
    outline: none;
}
#icon{
    position: absolute;
     bottom: 10px; 
     right: 20px; 
    
}
#searcharea::placeholder{
    font-size: 20px;
}

/* Coursecards */


.card-body img{
    width: 90px;
    height: 75px;
    margin: 5px auto;
    object-fit: contain; 
    padding: 2px;
       
}
.circle-background{
    background-color:#ebeaea ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 150px;
    border-radius: 50%;
    margin: 5px auto;
}

.card-body:hover{
    background-color: white;
    box-shadow: 0 0 10px 10px #f0f2f5;
       
}
.card:hover{
    background-color: white;
}
.card-body:hover img{
       background-color: white;
}

.card-body:hover .circle-background{
    background-color: #460B5e;
    
}
.card-body:hover #card-button{
    color: white;
    background-color: #460B5e;    
}
.card-text{
    font-size: 14px;
    line-height: 19px;
    margin: 30px auto;
}
.card-body p{
    font-family: 'Mulish', sans-serif;
    color: #515151;
}
.card-body span{
    color: #6d1d8e;
    font-weight: bold;
}
.card-body h5{
    color: #6d1d8e;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    }
#coursecards button{   
    border-radius: 20px;
    color:#460B5e;
    width: 150px;
    height: 45px;
    font-family: 'Mulish', sans-serif;
    border: 2px solid #460B5e;
    font-weight: bold;
    font-size: 18px;   
    margin-left: 25%;
    
}

/* whyluminar */
#whyluminarcontent h1{
    
    color: #6d1d8e;
    font-family: 'Barlow', sans-serif;
        
}
#whyluminarcontent p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #515151;
    line-height: 22.5px;
}  

#whyluminarcontent{
    
    background-color:#f4f1fa
}

/* pen image */
#penimg{
    width: 100%;
    height: 570px;
    background-image: url("./images/penbrown-img.png");
    background-position: center;
    background-size: cover; 
    }
#main{
    width: 75%;
    font-size: 40px;
    font-family: 'Kaisei HarunoUmi', serif;
    color: #ffffff;
    line-height: 60px;
}
#sub{
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    color: #BB9867;
    line-height: 30px;
}
#penimg .col{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#penimg button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color:#6d1d8e;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;

}
/* footer */

footer{
    font-family: 'Mulish', sans-serif;
}
footer h6{
    color: #6d1d8e;
    font-weight: bold;
    border-bottom: 1px solid #6d1d8e;
}
#footercourses a{
    font-size: 14px;
}
footer a{
    text-decoration: none;
}
footer #head{
    font-size: 16px;
    color: #6d1d8e;
    font-weight: bold;
}
#contactus a{
   color: #6d1d8e;
   font-size: 14px; 
   font-weight: bold;
}
#address{
    margin-bottom: 0;
    font-size: 15px;
}
footer #terms{
    color: #6d1d8e;
}
